/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------- Header ------- */

.button1 {
    text-align: center;
    margin: auto;
    padding: 15px;
}

/* Nav Bar */

a {
    text-align:center;
    margin: auto;
}

/* time in centre of page */

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: red;
    border-radius: 5px;
}

/* Body */

html {
    position: relative;
    min-height: 100%;
}

body {
  margin: 0;
}

main {
    /* add some padding to make room for the footer */
    padding-bottom: 3rem;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Homepage */

/* Particle effects css */
/* html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
} */

#particles-js {
  width: 100%;
  height: 100%;
  background: #111111;
}

/* webpage title & headings */

.homePage {
  padding: 100px;
}

.display-1 {
 text-shadow: 1px 1px white;
 font-size: 50px;
 text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

/* Doesn't work yet */
/* makes text glow */
@-webkit-keyframes display-1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
 }

/* About Page */

.display-2 {
 /* text-shadow: 1px 1px white;
 font-size: 50px;
 text-align: center;
  animation: glow 1s ease-in-out infinite alternate; */
}

/* Projects Page */



/* Skills Page */

.knowledgeTitle, .imageGrid {
 text-shadow: 1px 1px white;
 color: red;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 50px;
 text-align: center;
 background-color: black;
 width: 20%;
 margin: auto;
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* flexbox for grid on skills page */

.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Contact Page */

/* Enquiries Page */

address {
    display: block;
    background-color: aliceblue;
    text-align: center;
    padding: 100px 16px;
    margin: 250px;
    text-decoration: none;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.contact {
  color: red;
}

form {
  padding: 50px;
}

/* Settings */

#grad {
  height: 200px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(red, yellow);
}

/* clock */

.timeDesign {
  background-color:black ;
  color: white;
  width: 300px;
  text-align: center;
  margin: auto;
}

h2 {
color: antiquewhite;
font-size: 50px;
text-align: center;
}

h3 {
    text-shadow:0.25px 0.25px white;
    color: red;
}

p {
    text-align: center;
    color:antiquewhite;
    padding: 20px;
    background-color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-shadow: black 1px 1px;
    font-size: large;
}

/* Images */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.skills {
   background-color: black;
   text-align: center;
   width: 100px;
   margin: auto;
}

form {
    text-align: center;
}

.test {
  background-color: grey;
  text-align: center;
}

/* configuration for dark mode */
.dark-mode {
  background-color: black;
  color: white;
}

